<footer class="footer container-fluid">
  <div class="footer-inner container me-3">
    <div class="row">

      <div class="col-12 col-md-6">
        <div class="footer-right">



          <p class="cta-text">
            Your welcome ritual starts here — join the SIESHA family<br>
            Enjoy 10% off on your first purchase
          </p>
          <div class="subscribe-box">
            <input type="email" placeholder="Your email address">
            <button>Sign Up</button>
          </div>
          <div class="follow-strip mt-4">
            <span>Follow us on</span>
            <div class="follow-icons">
              <a href="#"><i class="bi bi-instagram"></i></a>
              <a href="#"><i class="bi bi-whatsapp"></i></a>
              <a href="#"><i class="bi bi-facebook"></i></a>
            </div>
          </div>



          <div class="footer-brand">
            <img src="/assets/image/siesha-logo-white.svg" alt="Siesha" class="img-fluid">
            <p>where moments become memories</p>
          </div>
        </div>
      </div>
      <div class="col-12 col-md-6">
        <!-- LEFT -->
        <div class="footer-left">

          <div class="footer-links">
            <h4>Important Links</h4>
            <a (click)="navigateToShop()" style="cursor: pointer;">Shop</a>
            <a routerLink="/home">About us</a>
            <a routerLink="/home">Contact us</a>
            <a (click)="navigateToFaq()" style="cursor: pointer;">FAQs</a>
          </div>
        </div>



      </div>
    </div>


    <!-- RIGHT -->

  </div>


  <div class="footer-bottom">
    ©2026, Seva Home. All rights reserved.
  </div>
</footer>
