<footer class="footer container-fluid">
  <div class="footer-inner container">
    <div class="footer-columns">
      <div class="footer-right">
        <div class="follow-strip mt-4">
          <span>Follow us on</span>
          <div class="follow-icons">
            <a href="https://www.instagram.com/sieshaofficial"><i class="bi bi-instagram"></i></a>
            <a href="https://wa.me/8448594285" target="_blank"><i class="bi bi-whatsapp"></i></a>
          </div>
        </div>

        <div class="footer-brand">
          <a routerLink="/home" aria-label="Go to home page">
            <img src="/assets/image/siesha-logo-white.svg" alt="Siesha" class="img-fluid">
          </a>
          <p>where moments become memories</p>
        </div>
      </div>

      <div class="footer-left">
        <div class="footer-links">
          <h4>Important Links</h4>
          <a (click)="navigateToShop()" style="cursor: pointer;">Shop</a>
          <a (click)="navigateToAbout()" style="cursor: pointer;">About us</a>
          <a (click)="navigateToContact()" style="cursor: pointer;">Contact us</a>
          <a (click)="navigateToFaq()" style="cursor: pointer;">FAQs</a>
          <a routerLink="/order-tracking">Track your order</a>
        </div>
      </div>
    </div>
  </div>


  <div class="footer-bottom">
    ©2026, Seva Home. All rights reserved.
  </div>
</footer>
