<section class="track-order-section">
  <h2 class="order-tracking-title pt-4 text-center">Track Your Order</h2>
  <div class="search-area px-3">
    <div class="row g-3">
      <div class="col-md-9">
        <input class="form-control" placeholder="Please enter order id...">
      </div>
      <div class="col-md-3 d-grid">
        <button class="btn btn-success">Search</button>
      </div>
    </div>
  </div>


  <div class="container mb-5">
    <div class="order-wrapper">

      <div class="row g-4 align-items-start">

        <!-- PRODUCT IMAGE -->
        <div class="col-md-4 text-left">
          <img src="assets/image/cart-item.png" class="product-img mb-3">
          <div class="status-badge">In Transit</div>
        </div>

        <!-- PRODUCT DETAILS  -->
        <div class="col-md-4">
          <div class="product-box">
            <h6 class="mb-3">Ananas Candle</h6>
            <p><strong>Order ID:</strong> #PT102938</p>
            <p><strong>Quantity:</strong> 1</p>
            <p><strong>Total Paid:</strong> ₹1,199</p>
            <p class="mb-0">
              <strong>Delivery Address:</strong><br>
              Delhi, India – 110001
            </p>
          </div>
        </div>

        <!-- ORDER TRACKING-->
        <div class="col-md-4">
          <div class="order-tracking-wrap ms-5">
            <h6 class="mb-3">Order Tracking</h6>
            <div class="timeline">

              <div class="step">
                <h6>Order Confirmed</h6>
                <small>31 Jan 2026</small>
              </div>

              <div class="step">
                <h6>Shipped</h6>
                <small>1 Feb 2026</small>
              </div>

              <div class="step pending">
                <h6>Out for Delivery</h6>
                <small>Pending</small>
              </div>

              <div class="step pending">
                <h6>Delivered</h6>
                <small>Pending</small>
              </div>

            </div>
          </div>
        </div>

      </div>

    </div>
  </div>

</section>
