<section class="stats-bar">
  <div class="container">
    <div class="row text-center">
      <div class="col-md-3">
        <h3>8125+</h3>
        <p>Orders Delivered</p>
      </div>
      <div class="col-md-3">
        <h3>40+</h3>
        <p>Variants</p>
      </div>
      <div class="col-md-3">
        <h3>1100</h3>
        <p>Highest order quantity</p>
      </div>
      <div class="col-md-3">
        <h3>4875+</h3>
        <p>Happy Customers</p>
      </div>
    </div>
  </div>
</section>
