<section class="container-fluid testimonial-wrap pt-5 pb-5">
  <div class="container  py-3">
    <div class="row g-4">
      <div class=" cust-rivew-info text-center mb-4">

        <h2 class="testimonial-title">Let customers speak for us</h2>
        <div class="review-count">
          from 72 reviews <span class="verified">✔</span>
        </div>
      </div>

      <!-- Card 1 -->
      <div class="col-md-4">
        <div class="testimonial-card shadow-sm">
          <div class="d-flex justify-content-between align-items-center">
            <div class="brand "> <a href="#">Head in the Clouds Candle</a></div>
            <div class="rating">3.2 <span>★</span></div>
          </div>

          <p class="quote">
            "TSoft, dreamy, and beautifully balanced.
            The scent feels light yet comforting at the same time.
            Perfect for creating a calm, cozy atmosphere."
          </p>

          <div>
            <div class="user-name">Tamana singh</div>

          </div>
        </div>
      </div>

      <!-- Card 2 -->
      <div class="col-md-4">
        <div class="testimonial-card shadow-sm">
          <div class="d-flex justify-content-between align-items-center">

            <div class="brand">
              <a href="#">Combo Pack</a> </div>
            <div class="rating">4.9 <span>★</span></div>
          </div>

          <p class="quote">
            "Great variety and amazing value in one set.
Each candle has a distinct personality and mood.
Ideal if you love switching fragrances based on your day."
          </p>

          <div>
            <div class="user-name">Deepak Rawat </div>

          </div>
        </div>
      </div>

      <!-- Card 3 -->
      <div class="col-md-4">
        <div class="testimonial-card shadow-sm">
          <div class="d-flex justify-content-between align-items-center">
            <div class="brand">
               <a href="#">Iced Mocha Candle</a></div>
            <div class="rating">3.2 <span>★</span></div>
          </div>

          <p class="quote">
            "The iced mocha candle smells heavenly and looks even better.
            The fragrance fills the space beautifully without being overpowering.
            Definitely a repeat buy for me."
          </p>

          <div>
            <div class="user-name">soniya negi</div>

          </div>
        </div>
      </div>

    </div>
  </div>
</section>
