<section class="product-card-wrap  container  pb-5">
  <!-- PRODUCT GRID -->
  <div class="row product-grid">

    <!-- PRODUCT CARD -->
    <div class="col-lg-3 col-md-6">
      <div class="product-card">
        <div class="product-img">
          <img src="/assets/image/shop-product-1.png" alt="">
        </div>
        <h6>Iced Mocha Candle</h6>
        <div class="rating">★★★★★ <span>(21)</span></div>
        <p class="price">Rs. 710.00</p>
        <button>Add to cart</button>
      </div>
    </div>

    <div class="col-lg-3 col-md-6">
      <div class="product-card">
        <div class="product-img">
          <img src="/assets/image/shop-product-2.png" alt="">
        </div>
        <h6>Iced Matcha Latte Candle</h6>
        <div class="rating">★★★★★ <span>(5)</span></div>
        <p class="price">Rs. 710.00</p>
        <button>Add to cart</button>
      </div>
    </div>

    <div class="col-lg-3 col-md-6">
      <div class="product-card">
        <div class="product-img">
          <img src="/assets/image/shop-product-3.png" alt="">
        </div>
        <h6>Combo Pack</h6>
        <div class="rating">★★★★★ <span>(15)</span></div>
        <p class="price">Rs. 1,370.00</p>
        <button>Add to cart</button>
      </div>
    </div>

    <div class="col-lg-3 col-md-6">
      <div class="product-card">
        <div class="product-img">
          <img src="/assets/image/shop-product-4.png" alt="">
        </div>
        <h6>Head in the Clouds Candle</h6>
        <div class="rating">★★★★★ <span>(5)</span></div>
        <p class="price">Rs. 719.00</p>
        <button>Add to cart</button>
      </div>
    </div>

  </div>
</section>
